.experience
    position relative
    display flex
    flex-direction column
    justify-content center
    margin 0 auto
    max-width 80%
    height 100%

    &__button
        padding 0 20px
        border 2px solid
        outline 2px solid transparent
        background-color transparent
        color #fff
        text-decoration none
        text-transform uppercase
        font-weight 700
        line-height 30px

    @media (max-width: 767px)
        max-width none

    &__content
        margin auto
        max-width 720px

        @media (max-width: 767px)
            max-width 520px

        @media (max-width: 600px)
            max-width 480px

        @media (max-width: 525px)
            max-width 300px

    &__slider
        .slick-dots
            bottom -66px

            li
                button::before
                    color #d0d0d0

            .slick-active
                button::before
                    color #ffffff
                    opacity 1

            button::before
                font-size 8px

        &-arrow
            position absolute
            top 50%
            z-index 99
            display flex
            justify-content center
            align-items center
            width 50px
            height 50px
            outline none
            border 2px solid #ffffff
            border-radius 50%
            background-color transparent
            cursor pointer

            @media (max-width: 600px)
                display none

            &_prev
                left 0
                transform rotate(180deg)

            &_next
                right 0

            svg
                width 20px
                fill #ffffff

        &-item
            outline none
            text-align center

            h3
                font-size 24px

                @media (max-width: 525px)
                    font-size 18px

            &-wrapper
                padding 0 10%

            &-list
                padding 0 33px
                list-style none

                @media (max-width: 600px)
                    padding 0

                li
                    margin-bottom 12px
                    font-size 16px

                    @media (max-width: 525px)
                        margin-bottom 8px
                        font-size 14px

                    span
                        &::before
                            content '• '

.portfolio
    &__wrapper
        max-height 98vh

        img
            width 100%
            
.dialog
    position absolute
    top 50%
    left 50%
    right auto
    bottom auto
    border 0
    background #000
    overflow hidden
    border-radius 0
    outline none
    padding 0px
    margin-right -50%
    transform translate(-50%, -50%)
    min-width 320px
    max-width 800px
    color rgb(0, 0, 0)

    &__overlay
        position fixed
        top 0px
        left 0px
        right 0px
        bottom 0px
        background-color rgba(96, 96, 96, 0.75)
